.Pokecard {
    border: 1px solid gray;
    border-radius: 4px;
    width: 250px;
    padding: 15px;
    box-shadow: 1px 4px 4px lightgrey;
}

.Pokecard hr {
    width: 260px;
    border: 0.5px solid lightgray;
}

.Pokecard-media {
    height: 220px;
}

.Pokecard-name {
    text-align: start;
    font-size: 21px;
    margin-bottom: 5px;
}

.Pokecard-type {
    text-align: start;
    margin: 0;
    text-transform: capitalize;
    color: #504e4e;
    font-size: 15px;
}

.Pokecard-header p{
    font-size: 15px;
    margin: 0;
    color: grey;
}
.Pokecard-id {
    float: left;
}

.Pokecard-exp {
    float: right;
}

.water {
    background-color: #c5eff7;
}

.fire {
    background-color: #fbded6;
}

.bug {
    background-color: #c8f7c5;
}

.electric {
    background-color: #fefad4;
}

.flying {
    background-color: #e4f1fe;
}

.poison {
    background-color: #f1e7fe;
}

.normal {
    background-color: #eee;
}